body {
    font-family: 'Raleway', sans-serif;
    width: 1920px;
}
.body {
    width: 80%;
    margin: 0 auto;
}
.header >h1 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 17px;
    border-bottom: 1px solid #E2E2E2;
    width: 1288px;
    margin-bottom: 40px;
}
form {
    display: block
}
h2 {
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 20px;

}
.login_register {
    width: 384px;
    height: 113px;
    background-color: #F0F2F5;
    margin-bottom: 30px;
    padding-left: 20px;
}
.radio_form_choice {
    font-weight: normal;
    font-size: 16px;
}
.radio_form_choice :first-child {
    margin-left: 0;
}
.data_and_delivery {
    background-color: #F0F2F5;
    width: 384px;
    height: 818px;
}
#name, #last_name, #email, #mob_tel, #additional_contact, #country, #city, #index {
    width: 344px;
    height: 38px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.data_and_delivery {
    padding-left: 20px;
}
.personal_data_title, .delivery_title {
    padding-bottom: 17px;
}
#additional_contact {
    margin-bottom: 0px;
}
.right_blok {
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}
.left_blok {
    display: inline-block;
    vertical-align: top;
}
.delivery_method, .payment_method {
    background-color: #F0F2F5;
    width: 874px;
    height: 113px;
}

.delivery_method, .payment_method {
    padding-left: 20px;
}
.delivery_method_input, .payment_method_input {
    display: flex;
}
.delivery_method_1_input, .delivery_method_2_input, .payment_method_1_input, .payment_method_2_input {
    padding-right: 20px;
}
.payment_method {
    margin-top: 30px;
}
.additional_comment {
    display: flex;
    flex-direction: column;
}
.payment_method_comments {
    width: 874px;
    height: 318px;
    background-color: #F0F2F5;
    padding-left: 20px;
}
.additional_comment> label {
    font-weight: normal;
    font-size: 14px;
}
textarea {
    resize: none;
    width: 834px;
    height: 86px;
    border-radius: 3px;
    border: 1px solid #B6B6B6;
    margin-top: 10px;
    margin-bottom: 20px;
}
.consent_personal_data {
    margin-bottom: 29px;
}
button {
    float: right;
    width: 206px;
    height: 54px;
    background-color: rgba(148, 111, 211, 1);
    border-radius: 50px;
    border-style: none;
    margin-right: 35px;
    margin-top: -30px;
}
button a {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

}
table {
    width: 894px;
    border-collapse:collapse;
}
.thead {
    text-transform: uppercase;
    height: 41px;
    background-color: #F0F2F5;
}
tfoot> tr :nth-child(4) {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    padding-right: 30px;
}
tbody tr :nth-child(2) {
    width: 30%;
}

tbody :nth-child(3) :nth-child(4), :nth-child(4) :nth-child(4) {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    padding-right: 30px;
    text-transform: uppercase;
}
tbody> tr :first-child, .product_name {
    text-align: center;
}
table td, th {
    line-height: 2.8rem;
} 
tbody :nth-child(2) :nth-child(4) {
    text-align: right;
    padding-right: 30px;
}
.arrow_update, .button_del {
    border-radius: 3px;
    margin-top: 0;
    padding: 0;
    background-color: rgba(148, 111, 211, 1);
    width: 34px;
    height: 34px;
} 
.button_update {
    width: 34px;
    height: 34px;
    margin-top: 5px;
}

.button_del {
    background-color:  rgba(248, 55, 55, 1);
    margin-top: 5px;
}

.button_del img {
    padding-left: 11px;
    padding-bottom: 6px;
}
.number > input {
    max-width: 2rem;
    min-width: 2rem;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    border: #e9e9e9 solid 1px;
}
.count_product {
    display: flex;
}
.arrow_update {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.arrow_update :nth-child(2) {
    width: 13px;
    height: 8px;
}
.nav-btn {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    padding-left: 40px;
    color: rgba(53, 70, 87, 1);
} 
.footer {

    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 151px;
    height: 97px;
    background: #FFFFFF;
    border-top: 1px solid #E2E2E2;
}
.social-btns a {
    margin-left: 17px;

}
input[type='radio'] {
    position: relative;
    height: 12px;
    width: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  
  input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #946FD3;
  }
  input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #946FD3;
    transform: translate(-50%, -50%);
    visibility: visible;
  }




